@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Abel:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter" !important;
  text-decoration: none !important;
  list-style: none !important;
}
body,
html {
  scroll-behavior: smooth;
  background-color: #fefefe !important;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  background: rgb(255, 255, 255);
  width: 6px;
}
::-webkit-scrollbar-track {
  display: none;
  max-height: 500px;
  background: #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 10px;
}
p {
  font-size: 19px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none !important;
}

.nav {
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgba(255, 255, 255, 0.735);
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  backdrop-filter: blur(20px);
}

.logo img {
  width: 8rem;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  padding-top: 1.2rem;
}

.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #2f2f2f;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem !important;
}

.beta-nav {
  width: 200px !important;
}

.beta-nav span {
  position: absolute;
  top: -25px;
  right: -17px;
  background: #10b98127;
  color: #10996b;
  padding: 5px;
  width: 45px !important;
  height: 25px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  z-index: 100000;
}

.current-nav {
  font-weight: 600 !important;
  color: #10b981 !important;
}

nav button {
  background: #10b981;
  width: 8rem;
  font-size: 1rem !important;
  transition: 0.5s;
}

nav button:hover {
  background: #fff;
}

nav ion-icon {
  transform: rotate(-45deg);
}

.nav-links .active {
  color: #000 !important;
}

/* .nav-links .active::before {
  content: "";
  position: absolute;
  background: #10b981;
  height: 2px;
  width: 100%;
  top: 1.6rem;
} */

.nav-links a:hover {
  color: #10b981;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 30px;
  height: 2px;
  background-color: #513f27;
  transition: 0.5s;
  margin: 5px;
}

.toggle .line2 {
  transition: 0.1s;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 1040px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    z-index: 1000;
    position: absolute;
    padding-top: 4rem;
    right: 0px;
    height: 100vh;
    top: 10vh;
    background: rgba(82, 82, 82, 0.925);
    backdrop-filter: blur(30px);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* gap: 70px; */
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
    height: 100px !important;
  }

  .nav-links li a {
    color: #fff;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-40deg) translate(-3px, 6px);
}

.toggle .line2 {
  visibility: hidden;
}

.toggle .line3 {
  transform: rotate(35deg) translate(-3px, -6px);
}

#hero {
  display: grid;
  place-items: center;
  overflow: hidden;
  height: 100vh;
  position: relative;
  background: url(assets/images/scott-blake-x-ghf9LjrVg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.55) 100%,
    rgba(0, 0, 0, 0.55) 100%
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.66) 90%,
    rgba(0, 0, 0, 0.66) 100%
  );
}

#hero button {
  margin-top: 2rem;
}

.simple {
  position: relative;
  display: inline-block;
}

.simple::before {
  content: "";
  background: #e47d1c8f;
  width: 100%;
  height: 20px;
  position: absolute;
  z-index: -1;
  bottom: 0;
}

button {
  text-align: center;
  background: #10b981;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem !important;
  outline: none;
  border: none;
  border-radius: 0.5rem !important;
  font-family: "Inter" !important;
  padding: 1rem;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.section button {
  margin: 0 auto;
  text-align: center;
  background: #10b981;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem !important;
  outline: none;
  border: none;
  border-radius: 0.5rem !important;
  font-family: "Inter" !important;
  padding: 1rem;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.price-wrapper button {
  text-align: center;
  background: #10b981;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 1rem !important;
  outline: none;
  border: none;
  border-radius: 0.5rem !important;
  font-family: "Inter" !important;
  padding: .5rem;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:hover {
  background: #fff;
  color: #000;
  border: 1px #722c2e solid;
}

#hero h1 {
  text-align: center;
  color: #fff;
  font-family: "Inter" !important;
  font-size: 3rem;
  font-weight: 600;
  width: 1000px;
}

.hero-group {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  text-align: center;
}

#about {
  margin-top: 5rem;
}

#about .container {
  display: grid;
  place-items: center;
}

#about h2 {
  font-size: 2rem;
  color: #2f2f2f;
  font-weight: 600;
  line-height: 2.5rem;
}

#about p {
  line-height: 2rem;
}

.rapisurv-mockup {
  margin-top: 4rem;
  max-width: 1000px;
  overflow: hidden;
  position: relative;
}

.rapisurv-mockup iframe {
  border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
  z-index: 20;
}

.rapisurv-mockup img {
  width: 100%;
}

.play-bg {
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  background: rgba(228, 125, 28, 0.659);
  backdrop-filter: blur(5px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.play-bg ion-icon {
  color: #fff;
  font-size: 2rem;
  padding-left: 0.3rem;
  z-index: 25;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px #e47d1ca7;
  }
  100% {
    box-shadow: 0 0 0 20px #e47d1c00;
  }
}

.video-mock {
  width: 100%;
  height: 400px;
  margin: auto;
  display: block;
  border: none;
}

.video-popup {
  display: none;
  width: 100%;
  height: 100vh;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 10px 10px 10px 10px black;
  z-index: 10001;
}
.popup-bg {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
}
.popup-content {
  padding-top: 56.25%; /* 16:9*/
  position: relative;
}

.close-btn {
  position: fixed;
  top: 0;
  margin-top: 35rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50% !important;
  z-index: 21;
}

#home_details {
  margin-top: 5rem;
}

#home_details h2 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  color: #2f2f2f;
  font-weight: 600;
}

#home_details li {
  padding-top: 2rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

#home_details li p {
  padding-left: 1.2rem;
}

#home_details .check-icon {
  width: 2.2rem;
}

.home_details-icon {
  margin-top: 8rem;
  width: 2.2rem;
}

.details-img {
  margin-top: 10rem;
  padding-left: 6rem;
  max-width: 600px;
}

#reviews {
  margin-top: 4rem;
  position: relative;
}

#reviews .top-p {
  margin-top: 8rem;
  font-size: 1rem;
  color: #7d7d7d;
}

#reviews h2 {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 600;
  color: #2f2f2f;
}

.left-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 150px;
  height: 300px;
  background: linear-gradient(to right, #fff 80%, #ffffffba 20%);
  filter: blur(20px);
}

.right-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 150px;
  height: 300px;
  background: linear-gradient(to right, #fff 80%, #ffffffba 20%);
  filter: blur(20px);
}

.review-block {
  padding: 1.3rem 1rem 1rem 1.5rem;
  max-width: 500px;
  margin: 3rem 1.5rem 3rem 2rem;
  border-radius: 2rem !important;
  box-shadow: 1px 16px 42px -11px rgba(49, 49, 49, 0.1);
  -webkit-box-shadow: 1px 16px 42px -11px rgba(49, 49, 49, 0.1);
  -moz-box-shadow: 1px 16px 42px -11px rgba(49, 49, 49, 0.1);
}

.review-text {
  font-size: 1.3em;
  padding: 0 1rem;
  font-weight: 600;
  max-width: 450px;
  color: #2f2f2f;
}

.reviewer {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.reviewer img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: #e47d1c 1px solid;
}

.reviewer-name {
  padding-left: 2rem;
}

.reviewer-name h5 {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.reviewer-name p {
  font-size: 1rem;
}

.glider-prev,
.glider-next {
  font-size: 1.5rem;
  background: #10b981;
  color: #722c2e;
  margin: 25px;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
}
.glider-prev .ion,
.glider-next .ion {
  margin-left: 12px;
}
@media (max-width: 768px) {
  .glider-prev,
  .glider-next {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  .main .dots {
    display: none;
  }
}

footer a {
  text-decoration: none !important;
  color: #bababa;
}
footer a:hover {
  color: #2196f3;
  background: 0 0;
}
.mail-text a {
  color: #ececec;
  text-decoration: none !important;
}
.mail-text a:hover {
  color: #2196f3;
  background: 0 0;
}
.social-list li {
  color: #ececec;
  list-style: none !important;
  text-decoration: none !important;
  font-size: 20px;
}
.social-list li:hover {
  color: #2196f3;
  background: 0 0;
}

.site-footer {
  background-color: #435a53;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  margin: 0;
}
.site-footer hr {
  margin-top: 4rem;
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #fff;
}
.site-footer a:hover {
  color: #b5b5b5;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #fff;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #36c;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
/* .site-footer .social-icons {
    text-align: right;
  } */
/* .site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    color: #000 !important;
  } */

.copyright-text {
  color: #bfbfbf;
  font-size: 1rem;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
}
footer ion-icon {
  color: #ffffff;
  font-size: 20px !important;
  /* --ionicon-stroke-width: 16px; */
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  padding-top: 5px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;

  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  color: #3b5998;
}
.social-icons a.twitter:hover {
  color: #00aced;
}
.social-icons a.instagram:hover {
  color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }

  .details-img {
    max-width: 400px;
  }
}

.footer-logo img {
  width: 5rem !important;
}

.mb-2 {
  margin-top: 1rem;
}

.mb-2 li {
  margin-top: 0.5rem;
}

/* @media (max-width: 400px) {

} */

@media (max-width: 858px) {
  .details-img {
    max-width: 600px;
  }
}

@media (max-width: 500px) {
  .logo img {
    width: 7rem;
  }

  .simple::before {
    content: "";
    height: 10px;
  }

  .details-img {
    max-width: 500px;
    margin-left: -5rem;
  }

  .play-bg {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
  }

  .play-bg ion-icon {
    font-size: 1.2rem;
    padding-left: 0.1rem;
  }

  #reviews h2 {
    font-size: 2rem;
  }

  #home_details h2 {
    font-size: 2rem;
  }
}

.section-join {
  padding: 4.5rem 0 2.5rem;
  margin-bottom: -2.5rem;
}

.join__bg {
  background: rgb(255, 205, 0);
  background: radial-gradient(
    circle,
    rgb(16, 185, 129) 0%,
    rgba(13, 53, 40, 0.8) 100%
  );
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding: 2.5rem 0;
  z-index: 1;
}

.join__bg button {
  background: #fff;
  color: #2f2f2f;
  font-weight: 600;
  margin-top: 3rem;
}

.join__bg img {
  position: absolute;
  max-width: 60rem;
  opacity: 0.4;
  z-index: -1;
}

.join__container {
  padding: 3.5rem 0;
  position: relative;
  z-index: 2;
  display: grid;
  place-items: center;
}

.join__container h2 {
  font-size: 2rem;
  padding: 0 1.5rem;
  font-weight: 600;
  max-width: 600px;
}

.join__title {
  color: #fff;
}

.years-pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.monthly,
.oneyear,
.twoyears {
  width: 100px;
  padding: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.12);
  cursor: pointer;
}

.monthly {
  background: #10b981;
  color: #fff;
}

.naira-monthly-tab,
.naira-oneyear-tab {
  width: 100px;
  padding: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.12);
  cursor: pointer;
}

.naira-monthly-tab {
  background: #10b981;
  color: #fff;
}

/* PRICING PAGE */

.section {
  margin: 200px 0 -80px 0 !important;
  min-height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  z-index: 10;
}

.nairacomp {
  display: none;
}

#comparison_table_naira {
  display: none;
}

.pricing {
  display: -webkit-flex;
  display: flex;
}

.pricing,
.pricing-oneyear,
.pricing-twoyears {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.pricing-oneyear,
.pricing-twoyears {
  display: none;
}

.price_padding {
  display: flex;
  gap: 4rem;
}

.pricing-item {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  -webkit-flex: 0 1 330px;
  flex: 0 1 330px;
}

.pricing-action {
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

.pricing-action:focus {
  outline: none;
}

.pricing-feature-list {
  text-align: left;
}

.section button {
  margin-top: -2em;
}

.pricing-palden .pricing-item {
  font-family: "Open Sans", sans-serif;
  cursor: default;
  color: #84697c;
  background: #fff;
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
  border-radius: 20px 20px 10px 10px;
  margin: 1em;
  padding-bottom: 2em;
}

@media screen and (min-width: 66.25em) {
  .pricing-palden .pricing-item {
    margin: 1em -0.5em;
  }
  .pricing-palden .pricing__item--featured {
    padding-bottom: 20px;
    z-index: 10;
    box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
  }
}

.pricing-palden .pricing-deco {
  border-radius: 10px 10px 0 0;
  background: linear-gradient(135deg, #40f9ce, #10b981);
  padding: 4em 0 9em;
  position: relative;
}

.pricing-palden .pricing-deco-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
}

.pricing-palden .pricing-title {
  font-size: 0.75em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
}

.pricing-country {
  font-size: 0.75em;
  margin-top: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
}

.invinsible {
  visibility: hidden;
}

.pricing-palden .deco-layer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.pricing-palden .pricing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}

.pricing-palden .pricing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}

.pricing-palden .icon {
  font-size: 2.5em;
}

.pricing-palden .pricing-price {
  font-size: 4em;
  font-weight: 600;
  padding: 0;
  color: #fff;
  margin: 0.25em 0 0.25em 0;
  line-height: 0.75;
}

.naira-pricing .pricing-price {
  font-size: 3em !important;
  font-weight: 600;
  padding: 0;
  color: #fff;
  margin: 0.25em 0 0.25em 0;
  line-height: 0.75;
}

.pricing-header {
  font-size: 1.2em;
  font-weight: 600;
  padding: 0;
  color: #fff;
  margin: 0 0 0.25em 0;
  line-height: 0.75;
}

.pricing-palden .pricing-currency {
  font-size: 0.25em;
  vertical-align: top;
}

.pricing-palden .pricing-period {
  font-size: 0.25em;
  padding: 0 0 0 0.5em;
  font-style: italic;
}

.pricing-palden .pricing__sentence {
  font-weight: 600;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em;
}

.pricing-palden .pricing-feature-list {
  margin-top: -4em;
  z-index: 100;
  padding: 0em 0 2.5em;
  list-style: none;
  text-align: center;
}
.pricing-feature-list2 {
  margin-top: -2rem;
  padding: 0;
  z-index: 10;
  list-style: none;
  text-align: center;
}

.pricing-palden .pricing-feature {
  padding: 1em 0;
}

.pricing-palden .pricing-action {
  font-weight: 600;
  margin: auto 3em 2em 3em;
  padding: 1em 2em;
  color: #fff;
  border-radius: 30px;
  background: linear-gradient(135deg, #fea03b, #fdda4e);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.pricing-palden .pricing-action:hover,
.pricing-palden .pricing-action:focus {
  background: linear-gradient(135deg, #fd7d57, #f55d59);
}

.pricing-palden .pricing-item--featured .pricing-deco {
  padding: 5em 0 8.885em 0;
}

.header {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 8rem;
}

.inner-header {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.enterprise-content {
  margin: 0 auto;
  max-width: 1000px;
  background: #435a53;
  border-radius: 2rem;
  padding: 50px 0 !important;
  position: relative;
  overflow: hidden;
  z-index: 3;
}

.enterprise-content img {
  position: absolute;
  z-index: -1;
  opacity: .1;
  max-width: 800px;
}

.enterprise-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ent-text h3 {
  font-weight: bold;
  font-size: 2.3rem;
  color: #fff;
}

.ent-text p {
  color: #fff;
  max-width: 400px;
  margin-top: 1.5rem;
}

.flex {
  /*Flexbox for containers*/
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* COMPARISON TABLE */

#comparison_table {
  margin: 5em 0 3rem 0;
}

#comparison_table ul {
  display: flex;
  top: 0px;
  z-index: 10;
  padding-bottom: 14px;
}
#comparison_table li {
  list-style: none;
  flex: 1;
}
#comparison_table li:last-child {
  border-right: 1px solid #ddd;
}
#comparison_table button {
  width: 100%;
  border: 1px solid #ddd;
  border-right: 0;
  border-top: 0;
  padding: 10px;
  background: #fff;
  font-size: 14px;
  font-weight: 600;
  height: 60px;
  color: #999;
}
#comparison_table li.active button {
  background: #a0a0a0;
  color: #fff;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
th {
  background: #f5f5f5;
  display: none;
}
td,
th {
  height: 53px;
}
td,
th {
  border: 1px solid #ddd;
  padding: 10px;
  empty-cells: show;
}
td,
th {
  text-align: left;
}
td + td,
th + th {
  text-align: center;
  display: none;
}
td.default {
  display: table-cell;
}
.bg-orange {
  border-top: 3px solid #e47d1c;
}
.bg-mintgreen {
  border-top: 3px solid #10b981;
}
.sep {
  background: #f5f5f5;
  font-weight: 600;
}
.txt-l {
  font-size: 28px;
  font-weight: 600;
}
.txt-top {
  position: relative;
  top: -9px;
  left: -2px;
}
 .tick {
  font-size: 18px;
  color: #10b981;
}
td ion-icon {
  font-size: 20px;
}
.hide {
  border: 0;
  background: none;
}

@media (min-width: 1200px) {
  #comparison_table ul {
    display: none;
  }
  td,
  th {
    display: table-cell !important;
  }
  td,
  th {
    width: 330px;
  }
  td + td,
  th + th {
    width: auto;
  }
}

.yearly-dollar-table2,
.twoyears-dollar-table2,
.yearly-naira-table2 {
  display: none;
}

td h3 {
  font-weight: 600;
  text-align: left;
}

.plan-head {
  margin-top: 40px;
  font-weight: bold;
}

td p {
  text-align: left;
  font-size: 1rem;
  max-width: 250px;
}

td .starting {
  color: #9C9C9C;
  font-size: .9rem;
}

.td-month {
  color: #686868;
}

td button {
  text-align: center;
  background: #10b981 !important;
  width: 10rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  font-weight: 500;
  font-size: 1.2rem !important;
  outline: none;
  border: none;
  border-radius: 0.5rem !important;
  font-family: "Inter" !important;
  padding: 1rem;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#products-about {
  margin-top: 50px;
  font-weight: 300;
  line-height: 35px;
  color: #1e1e1e;
}

.products-title {
  font-size: 2rem;
  margin: 2em 0 -1em 0;
}

.products-about-p p {
  max-width: 55rem;
  margin: 0 auto 5rem auto;
}

.service-section .icon-box {
	margin-bottom: 20px;
	padding: 30px;
	border-radius: 6px;
	background-color: #f8f9fa;
}
.service-section .icon-box:hover .service-title a {
	color: #10b981;
}
.service-section .icon-box img {
	width: 40px;
  float: left;
}
.service-section .icon-box .service-title {
	margin-left: 70px;
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 1.2;
}
.service-section .icon-box .service-title a {
	color: #556270;
	transition: 0.3s;
	text-decoration: none;
}
.service-section .icon-box .service-para {
	margin-left: 70px;
	line-height: 24px;
	font-size: 16px;
  line-height: 30px;

}
.service-section .service-main-heading {
	color: #556270;
	padding-top: 4rem;
	margin: 20px 0;
	line-height: 1;
	font-size: 2.5rem;
	font-weight: 600;
}

.below-footer {
  display: flex;
  justify-content: space-between;
}
.below-footer p {
  font-size: 1rem;
}

.lottie {
  max-width: 400px;
  margin-bottom: 3rem;
}

.timeline {
  margin-top: 40px;
}

.timeline ul {
  padding: 0;
}
.timeline .default-line {
  content: "";
  position: absolute;
  width: 4px;
  background: #ffffff;
  height: 100vh;
}
.timeline .draw-line {
  width: 4px;
  height: 0;
  position: absolute;
  background: #e47d1c;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 100%;
  height: auto;
  background: transparent;
}
.timeline ul li p {
  margin-left: 2rem;
}
.timeline ul li.in-view {
  transition: 0.125s ease-in-out, background-color 0.2s ease-out,
    color 0.1s ease-out, border 0.1s ease-out;
}
.timeline ul li.in-view::before {
  content: "";
  position: absolute;
  top: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-image: url("https://sg0duxoli5-flywheel.netdna-ssl.com/wp-content/themes/inspired_elearning_theme/images/check-dark.svg");
  background-color: #e47d1c;
  border: 2px #fff solid;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.125s ease-in-out, background-color 0.2s ease-out,
    color 0.1s ease-out, border 0.1s ease-out;
}
.timeline ul li::before {
  content: "";
  position: absolute;
  top: 0;
  transform: translateX(-40%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: inherit;
  border: 2px #e47d1c solid;
  transition: all 0.4s ease-in-out;
}

.learn_header {
  font-weight: 600;
  margin-bottom: 1.3rem;
}

/* <select> styles */
.header select {
  margin-bottom: 50px !important;
  appearance: none;
  border: 0;
  outline: 0;
  font-family: "Inter";
  max-width: 20em;
  height: 3em;
  padding: 0 20px;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
select option {
  color: inherit;
  background-color: #fff;
}
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}

.disclaimer {
  min-width: 200px;
  display: flex;
}

.disclaimer p {
  padding: 0 10px;
}

#contact {
  width: 100%;
}

#contact select {
  color: #757575;
  box-shadow: none;
  width: 600px !important;
  height: 60px;
  margin: 1rem 0 0 0;
  border-radius: .5rem;
  border: 1px solid #cecece;
  padding-left: 20px;
  position: relative;
}

.terms-of-service {
  color: #e47d1c;
  font-weight: 600;
}

.section-header {
  text-align: center;
  padding: 5em 0 0 0;
  font: 600 2rem 'Inter', sans-serif;
  color: #292929;
}

#plan-page .section-header {
  text-align: center;

  font: 600 2rem 'Inter', sans-serif;
  color: rgb(41, 41, 41);
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto !important;
  padding: 20px !important;
  position: relative;
  max-width: 1000px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 600px;
  font-family: 'Inter';
  font-weight: 400;
}

 input {
  height: 60px;
}

.form-control, 
textarea {
  width: 600px !important;
  margin-top: 1rem;
  border-radius: .5rem !important;
  padding-left: 20px;
  color: #000;
}

.form-control:focus {
  border-color: #10b981;
  box-shadow: inset 0 1px 1px rgba(223, 223, 223, 0.075), 0 0 8px #10b9817a;
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #000;
}

.contact-text {
  font: 300 18px 'Inter', sans-serif;
  color: #000;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #000;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #000;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: #10b981;
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #10b981;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

.price-wrapper {
  width: 70%;
  box-shadow: 0 0 20px rgba(92, 98, 131, 0.23);
  border-radius: 20px;
  margin: 40px auto 150px auto;
}

.price-wrapper button {
  text-align: center;
  background: #10b981;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 1rem !important;
  outline: none;
  border: none;
  border-radius: 0.5rem !important;
  font-family: "Inter" !important;
  padding: .5rem;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-left: 20px;
}

.price-wrapper ion-icon {
  display: none;
  color: #10b981;
  font-size: 2rem;
  margin-left: 20px;
}

.custom {
  font-size: 3rem !important;
}

.quote {
  font-size: 1rem;
  color: #fff;
}

.biannual-wrap,
.yearly-wrap,
.naira-yearly-wrap,
.monthly-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 150px;
  transition: .5s;
}

.biannual-wrap:hover,
.yearly-wrap:hover,
.naira-yearly-wrap:hover,
.monthly-wrap:hover {
  background: rgb(250, 247, 243);
}

.yearly-wrap {
  border-bottom: #CBCBCB 1px solid !important;
}

.recommended {
  background: #fea03b;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  padding: 5px;
  font-size: .8rem;
  font-weight: 500;
}

.plan-name h3 {
  font-weight: bold;
  margin-top: 10px;
  color: #292929;
  text-decoration: none;
}

.plan-name p {
  font-size: 1rem;
  color: #9C9C9C;
}

.plan-price {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.price-month {
  margin-bottom: 10px;
}

.price {
  font-weight: 600;
  font-size: 1.3rem;
  color: #292929;
  text-decoration: none;
}

.per-month {
  color: #686868;
  font-size: 1.3rem;
}

.save {
  background: #fea03b27;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fea03b;
  padding: 5px;
  font-size: .8rem;
  font-weight: 500;
  float: right;
}

.save-grey {
  background: #8a8a8a27;
  border-radius: 5px;
  text-transform: uppercase;
  color: #5a5a5a;
  padding: 5px;
  font-size: .8rem;
  font-weight: 500;
  float: right;
}

.orange-border {
  border: #fea03b 2px solid;
  padding: 15px 30px 0 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.invisible-border {
  border: none;
  padding: 15px 30px 0 30px;
}

.invisible {
  visibility: hidden;
}

#signup {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.sign-bg {
  background: url(assets/images/sign.jpeg);
  /* background-position: center; */
  background-position-y: -650px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}

.reg-bg {
  background: url(assets/images/learn.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}

.team-member {
  font-size: 1rem;
}

.sign-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.sign-overlay2 {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.sign-split {
  width: 100%;
}

#signup button {
  border: none;
  height: auto;
  width: auto;
}

#signup button:hover {
  border: 1px #000 solid;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.user-type {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user-type input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.user-type label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
  cursor: pointer;
  transition: .5s;
  background: #EAEAEA;
  color: #8F8F8F;
  font-size: 1.1rem !important;
}

.user-type label:hover {
  background: #fff;
  border: #2f2f2f 1px solid;
}

.user-type input[type="radio"]:focus + label {
  border: 2px dashed #444;
}

.user-type input[type="radio"]:checked + label {
  background: #10b98127;
  color: #10b981;
}

.error-message {
  color: red;
  margin-bottom: 20px;
  font-size: 12px;
  display: block;
  position: absolute;
  z-index: 100000;
}

.prev-next {
  display: flex;
}

#prevBtn {
  background: #e0e0e0;
  color: #646464;
  margin-right: 20px;
}

/* Hide all steps by default: */
.fieldTab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.activate {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

.form_wrapper {
  background: #fff;
  max-width: 600px;
  /* max-width: 100%; */
  box-sizing: border-box;
  padding: 25px;
  margin: 8% auto 0;
  position: relative;
  z-index: 1;
  border-top: 5px solid #f5ba1a;

}
.form_wrapper h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
}
.form_wrapper .title_container {
  text-align: center;
  padding: 70px 0 20px 0;
}
.form_wrapper .title_container p {
  color: #646464;
  font-size: 1.1rem;
  margin: 5px 0 25px 0;
}
.form_wrapper h3 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}
.form_wrapper label {
  font-size: 12px;
}
.form_wrapper .row {
  margin: 10px -15px;
}
.form_wrapper .row > div {
  padding: 0 15px;
  box-sizing: border-box;
}
.form_wrapper .col_half {
  width: 50%;
  float: left;
}
.form_wrapper .input_field {
  position: relative;
  margin-bottom: 20px;

}

.form_wrapper input[type="text"], .form_wrapper input[type="email"], .form_wrapper input[type="password"] {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 50px;
  background: #F2F2F2;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form_wrapper input[type="text"]:hover, .form_wrapper input[type="email"]:hover, .form_wrapper input[type="password"]:hover {
  background: #fafafa;
}
.form_wrapper input[type="text"]:focus, .form_wrapper input[type="email"]:focus, .form_wrapper input[type="password"]:focus {
  -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  -moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5ba1a;
  background: #fafafa;
}
.form_wrapper input[type="checkbox"]{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.form_container .row .col_half.last {
  border-left: 1px solid #ccc;
}
.checkbox_option label {
  margin: 1em 1em 1em 0;
  position: relative;
  font-size: .8rem;
}
.checkbox_option label:before {
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
  vertical-align: -2px;
  border: 2px solid #ccc;
  padding: 0.12em;
  background-color: transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}
.checkbox_option label:after {
  border-right: 2px solid #10b981;
  border-top: 2px solid #10b981;
  content: "";
  height: 20px;
  left: 2px;
  position: absolute;
  top: 7px;
  transform: scaleX(-1) rotate(135deg);
  transform-origin: left top;
  width: 7px;
  display: none;
}
.checkbox_option input:hover + label:before {
  border-color: #10b981;
}
.checkbox_option input:checked + label:before {
  border-color: #10b981;
}
.checkbox_option input:checked + label:after {
  -moz-animation: check 0.8s ease 0s running;
  -webkit-animation: check 0.8s ease 0s running;
  animation: check 0.8s ease 0s running;
  display: block;
  width: 7px;
  height: 20px;
  border-color: #10b981;
}
.select_option {
  position: relative;
  width: 100%;
}
.select_option select {
  display: inline-block;
  width: 100%;
  height: 50px;
  padding: 0px 15px;
  cursor: pointer;
  color: #7b7b7b;
  background: #F2F2F2;
  border-radius: 10px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.2s ease;
}
.select_option select::-ms-expand {
  display: none;
}
.select_option select:hover, .select_option select:focus {
  color: #000;
  background: #fafafa;
  border-color: #000;
  outline: none;
}
.select_arrow {
  position: absolute;
  top: calc(50% - 4px);
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #7b7b7b transparent transparent transparent;
}
.select_option select:hover + .select_arrow, .select_option select:focus + .select_arrow {
  border-top-color: #000;
}

@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
 }
  25% {
    height: 0;
    width: 7px;
 }
  50% {
    height: 20px;
    width: 7px;
 }
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
 }
  25% {
    height: 0;
    width: 7px;
 }
  50% {
    height: 20px;
    width: 7px;
 }
}

@media (max-width: 600px) {
  .form_wrapper .col_half {
    width: 100%;
    float: none;
 }
  .bottom_row .col_half {
    width: 50%;
    float: left;
 }
  .form_container .row .col_half.last {
    border-left: none;
 }
  .remember_me {
    padding-bottom: 20px;
 }
}


/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }  

  .price-wrapper {
    width: 100%;
  }
  
  .direct-contact-container {
    display: none;
  }    
}

@media screen and (max-width: 569px) {
  .form-control,
   textarea {
    margin-top: 1rem !important;
    margin: 0 auto;
    max-width: 400px !important;
  }
  #contact select {
    margin-top: 1rem !important;
    margin: 0 auto;
    width: 400px !important;
  }

  .user-type {
    flex-direction: column;
  }

  .save {
    float: left;
  }
}

@media (max-width: 962px) {
  #hero h1 {
    font-size: 3rem;
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 2rem;
    max-width: 400px;
  }

  .enterprise-content {
    flex-direction: column;
    text-align: center;
    padding: 0 30px;
  }

  .sign-bg {
    display: none;
  }

  .price-wrapper button {
    display: none;
  }

  .price-wrapper ion-icon {
    display: block;
  }

  .left-overlay {
    display: none;
  }

  .right-overlay {
    display: none;
  }
  .below-footer {
    flex-direction: column;
  }

  .row2 {
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .review-text {
    font-size: 1rem;
  }

  .form-control,
   textarea {
    max-width: 300px !important;
    margin: 0 auto;
  }
  #contact select {
    width: 300px !important;
    margin: 0 auto;
  }

  .review-block {
    padding: 1.3rem 0.1rem 1rem 0.1rem;
    width: 400px;
    margin: 2rem 0.2rem 2rem 0.2rem;
    border-radius: 2rem !important;
    box-shadow: 1px 16px 42px -11px rgba(49, 49, 49, 0.1);
    -webkit-box-shadow: 1px 16px 42px -11px rgba(49, 49, 49, 0.1);
    -moz-box-shadow: 1px 16px 42px -11px rgba(49, 49, 49, 0.1);
  }
  .reviewer-name {
    padding-left: 1rem;
  }
  .reviewer-name h5 {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 0.8rem;
  }

  .reviewer-name p {
    font-size: 0.8rem;
  }

  .timeline .default-line {
    height: 120vh;
  }

  #hero {
    background-attachment: scroll;
  }

  #hero h1 {
    font-size: 1.8rem;
  }

  .products-about-p p {
    max-width: 23rem;
  }
}

@media (max-width: 350px) {
  #hero h1 {
    font-size: 1.5rem;
    max-width: 300px;
  }

  .prev-next {
    flex-direction: column;
  }
  .years-pricing {
    flex-direction: column;
    gap: 10px;
  }
  .monthly,
  .oneyear,
  .twoyears {
    width: 150px;
    padding: 10px;
  }
  #about h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  #home_details h2 {
    font-size: 1.5rem;
  }
  #reviews h2 {
    font-size: 1.5rem;
  }
  .review-text {
    font-size: 1rem;
  }
  .review-block {
    padding: 1.3rem 0.1rem 1rem 0.1rem;
    width: 400px;
    margin: 2rem 0.2rem 2rem 0.2rem;
    border-radius: 2rem !important;
    box-shadow: 1px 16px 42px -11px rgba(49, 49, 49, 0.1);
    -webkit-box-shadow: 1px 16px 42px -11px rgba(49, 49, 49, 0.1);
    -moz-box-shadow: 1px 16px 42px -11px rgba(49, 49, 49, 0.1);
  }
  .join__container h2 {
    font-size: 1.5rem;
    padding: 0 1.5rem;
    font-weight: 600;
    max-width: 600px;
  }

  .timeline .default-line {
    height: 150vh;
  }
}

@media (max-width: 600px) {
  .join {
    margin: 0;
    width: 100%;
  }

  .join__bg {
    border-radius: 0;
  }

  .sub-overlay {
    border-radius: 0;
  }
  .section-join {
    padding: 4.5rem 0 2.5rem;
    margin-bottom: -3rem;
  }
}

@media screen and (max-width: 768px) {
  .join__container {
    padding: 3.5rem 0;
  }
}

@media screen and (max-width: 300px) {
  .timeline .default-line {
    height: 170vh;
  }

  .form-control,
   textarea {
    max-width: 200px !important;
    margin: 0 auto;
  }

  #contact select {
    width: 200px !important;
    margin: 0 auto;
  }
}

@media screen and (max-width: 280px) {
  #hero h1 {
    font-size: 1.2rem;
    max-width: 250px;
  }
}

@media screen and (max-width: 420px) {
  #comparison_table {
    display: none;
  }

  .enterprise-content {
    padding: 0 50px;
    border-radius: 1rem;
    margin-bottom: 30px;
  }

  .ent-text h3 {
    font-size: 1.5rem;
  }
}
